$footer-height: 60px;
.c {
  &-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    max-width: 400px;
    background-color: #fff;

    &-overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
    }
  }
  &-form {
    min-height: 100%;
    padding: 30px;
  }
  &-footer--sticky {
    position: sticky;
    bottom: 0;
    height: $footer-height;
    background-color: #fff;
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &-person-list {
    max-width: 420px;
    margin: 0 auto;
    &__empty {
      border-radius: 2px;
      border: 1px solid rgb(224, 224, 224);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 241px;
      color: $gray;
    }
    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .c-person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        flex-basis: 100%;
        margin-bottom: 20px;
        border: 1px solid rgb(224, 224, 224);
        &--add {
          border: 1px dashed rgb(224, 224, 224);
        }
        @include respond-to(small) {
          flex-basis: 48%;
        }
        &__name {
          color: $primary;
          text-decoration: underline;
        }
        &__rel {
          color: $gray;
        }
      }
    }
  }
  &-add-icon {
    display: flex !important;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    svg {
      fill: $primary;
      font-size: 1rem;
    }
  }
}
