.u {
  &-width--full {
    width: 100%;
  }
  &-display {
    &--block {
      display: block;
    }
  }
  &-color {
    &--black {
      color: #000;
    }
  }
  &-children--center {
    display: flex !important;
    align-items: center;
  }
  &-border--right {
    border-right: 1px solid hsl(0, 0, 85);
  }
}
