.u {
  &-width--full {
    width: 100%;
  }
  &-display {
    &--block {
      display: block;
    }
  }
  &-color {
    &--black {
      color: #000;
    }
  }
  &-children--center {
    display: flex;
    align-items: center;
  }
}
